body {
  font-family: sans-serif;
  background-color: #eef9bf;
}

h1 {
  margin: 20px 0;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 66px;
  text-align: center;
  color: #75b79e;
}

.scene {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  height: 146px;
  width: 117px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: 0.5s;
  background: #A7E9AF;
  border: 1px solid #99CEA8;
  border-radius: 5px;
}

.scene {
  display: flex;
  width: 100%;
  gap: 20px;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  height: 146px;
  width: 117px;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__face--front {
  background: #A7E9AF;
  border-radius: 5px;
  border: 1px solid #99CEA8
}

.card__face--back {
  background: #A7E9AF;
  border-radius: 5px;
  transform: rotateY(180deg);
  border: 1px solid #99CEA8
}

img {
  width: 100px;
  height: 100px;
}
@media (max-width: 335px){
  h1 {
    font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.004em;
  text-align: center;
  } 

  .scene {
    margin: 0 auto;
    width: 250px;
  }
}